// Mixings
@mixin bordecaja {
	border: 1px solid #e1e8ed;
}

@mixin profileimg {
	border-radius: 8px;
	width: 200px;
	height: 200px;
}

@mixin profilesection {
	position: relative;
	left: 0px;
	top: -160px;
}

//Variables
$negro: #292f33;
$gris: #66757f;
$verde: #009999;
$blanco: #fff;
$pad-but: 0 13px 0 14px;
$bold: 500;
$light: 300;
$grande: 20px;
$peque: 14px;
$xs: 13px;
$margintop: 15px;

.caja,
 {
	background-color: $blanco;
	display: inline-block;
	width: 100%;
}
#box-suggested {
	width: 25% !important;
	margin-top: 10px;
}

#top,
.caja,
#middlebar {
	@include bordecaja;
}

#profile {
	@include profilesection;
}

nav {
	display: inline-block;
}

#navTop {
	margin-top: 8px; 

	> a {
	padding: 0 14px 0 4px;
	color: $gris;
	}

	a:hover {
		color: $verde;
	}
}

.twittericon {
	margin-top: 8px;
}

#middlebar-inner.navbar-nav {

	> li > a {
	padding: 0 15px 8px !important;
	font-size: $grande;
}

	li.nav-item.active > a > p.number {
		color: $negro !important;

	}
}

i.glyphicon.glyphicon-home,
i.glyphicon.glyphicon-bell,
i.glyphicon.glyphicon-envelope {
	font-size: $grande;
}

.middlebar-right {
	margin-top: $margintop;
	float: right;
}

img.twittericon {
	display: block;
    margin-left: auto;
    margin-right: auto;
}

a {
	color: $verde;
	font-size: $peque;
}

.form-control {
	border-radius: 21px;
	border: 1px solid #e1e8ed;
	display: block;
	height: 32px;
	color: #8899a6;
	font-size: $xs;
	background-color: #f5f8fa;
	float: left;
	width: 221px;
}

h6 {
	text-transform: uppercase;
	color: $gris;
	font-weight: $light;
	font-size: $xs;
}

.tweet, {
	padding: 15px;
	}

#tweets {
	display: block;
	

	> nav {
		margin-bottom: -2;
		margin-top: 10px;
	}
}

.thumbnail,
.thumbnail > img {
	@include profileimg;


}

ul {
	list-style-type: none;
	padding-left: 0;
}

header {
	border-bottom: 1px solid rgba(0,0,0,0.15);
	height: 46px;
	position: relative;
	width: 100%;
	background-color: white;
}

body {
	color: $negro;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

#navDer {
	margin-top: 6px;

	li,
	form {
		display: inline;
		float: left;
		margin-right: 3px;
	}
}

#global-nav-search {
	margin-bottom: 0;
	margin-top: 0;
}

.btn.btn-verde {
	background-color: $verde;
	color: $blanco;
	padding: $pad-but;
	text-align: center;
	height: 32px;
	display: block;
    margin-left: auto;
    margin-right: auto;

	&:focus, 
	&:hover {
		background: rgba(3,133,67,.8);
		background-color: #038543;
	}
}

.tofollow {
	color: $gris;
	font-size: 18px;
	font-weight: 300;
	margin-top: 10px;
}

.navbar-brand {
	color: $verde !important;
	font-weight: $light;
		&.active {
			font-weight: $bold;
			color: $negro !important;
		}
}

.nav-link {
	color: #66757f;
	font-size: 13px;
	font-weight: 500;
;
	span > i {
		line-height: 1
	}
}

a:hover {
	color: $verde !important;
	text-decoration: none;
}

#content {
	background-color: #F5F8FA;
}

#fotoback {
	width: 100%;
}

#middlebar {

}
.autor {
	font-weight: bold;
	line-height: 1;
}

.autortwitter{
	color: #8899a6;
	font-weight: 300;
	font-size: $xs;
}

.iconautor {
	margin-right: 10px; 
	float: left;
}

#follow {
	height: 28px;
	line-height: 0px;
}

.middlebar-right {
	text-align: right;
	display: inline-block;
}

p.number {
	color: $verde !important;
	font-size: $grande !important;
	text-align: center !important;
	line-height: 0.5 !important;
}
